*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    align-items: center;
    gap: 8px;
    background-color: black;
    color: white;
    padding: 16px;
    justify-content: center;
    border-radius: 10px;
}

.display {
    width: 100%;
    text-align: right;
    font-size: 60px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;

}

.gray-btn {
    background-color: gray;
}

.orange-btn {
    background-color: orange;
}

.digit, 
.plus-minus,
.decimal {
    background-color: rgb(52, 52, 52);
}

button:hover {
    filter: brightness(1.2);
}